* {
    margin: 0;
    padding: 0;
  }
  
  .body-wrapper {
    font-family: arial,sans-serif;
    font-size: 13px;
    position: relative;
  }
  #container {
    width: 580px;
    margin: 0 auto;
    min-height: 70vh;
    text-align: center
  }
  input[type="text"] {
    width: 100%;
    padding: 14px 7px;
    margin: 25px 0 0;
    font-size: 16px;
       border: 0;
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none
  }
  
  input[type="submit"] {
    font-size: 13px;
    font-weight: bold;
     margin: 18px 4px 11px;
     min-width: 54px;
     padding: 0 16px;
     text-align: center;
       border-radius: 2px;
       height: 36px;
     line-height: 27px;
       border: 1px solid #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      color: #222;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .google-logo {
    margin-top: 100px;
      height: 92px;
      width: 272px;
  }
  a:link, a:visited {
    color: #1a0dab;
    text-decoration: none;
  }
  nav#header {
    text-align: right;
    padding: 20px
  }
  nav ul li {
    display: inline;
    color: #333
  }
  
  nav ul li a:link,  nav ul li a:visited{
    color: #333
  }
  nav#header ul li {
    padding: 7px
  }
  .signin:link, .signin:visited {
      padding: 7px 12px;
    border: 1px solid #4285f4;
      font-weight: bold;
    color: white;
      background: #4285f4;
  }
  .languages {
    margin-top: 20px;
  }
  .languages a {
    padding: 4px
  }
  .search-section {
    position: relative
  }
  .search-by-voice-icon {
   width: 18px;
    position: absolute;
    top: 34px;
    right: 10px
  }
  footer {
    margin-top: 100px;
    background-color: #f2f2f2;
  }
  .country-section {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 30px
  }
  footer nav {
    padding: 15px 23px
  }
  footer nav ul {
      float: left;
  }
  footer nav ul li {
    padding: 7px
  }
  footer nav ul.right-links  {
      float: right
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }